.cursor-pointer {
    color: rgb(121 85 72);
}

.bg-ayur-offwhite {
    background-color: rgb(248 245 240);
}


table.dataTable>tbody>tr {
    background-color: transparent;
    height: 64px !important;
}